@using QEBSPEditor.Models
@using QEBSPEditor.Models.BSPFiles
@using Tewr.Blazor.FileReader
@inject DialogService DialogService
@inject IFileReaderService FileReaderService
@inject AlertDialogsService AlertDialogs

<div>
    <FileInputBox FileLoad="LoadAsync" Class="w-100">
        Click or drag a BSP file to load it
    </FileInputBox>
</div>


@code {
    private async Task LoadAsync(FileInput.FileLoadEventArgs args)
    {
        IBSPFile bsp;
        try
        {
            bsp = BSPFiles.Load(args.Stream);
        }
        catch (InvalidDataException ex)
        {
            await AlertDialogs.FailureAsync($"Failed to load: {ex.Message}");
            return;
        }
        catch (Exception ex)
        {
            await AlertDialogs.FailureAsync($"Failed to load: {ex}");
            return;
        }

        bsp.Name = GetBSPName(args.Info.Name);
        DialogService.Close(bsp);
    }

    private string GetBSPName(string filename)
    {
        const string BSPExtension = ".bsp";

        if (filename.EndsWith(BSPExtension))
            return filename.Substring(0, filename.Length - BSPExtension.Length);

        return filename;
    }

    public static async Task<IBSPFile> OpenAsync(DialogService dialogService)
    {
        return (IBSPFile)await dialogService.OpenAsync<BSPLoadDialog>("Open bsp", new() { }, new() { CloseDialogOnEsc = true, ShowClose = true });
    }
}