@using QEBSPEditor.Models.BSPFiles;
@using SixLabors.ImageSharp.Formats.Png;
@inject DialogService DialogService

<div>Palette: <ColorPaletteDropdown @bind-ColorPalette="_palette" /></div>

@if (_palette is null)
{
    <RadzenText TextStyle="TextStyle.H5" class="mt-2">
        You need to upload a palette in the settings before you're able to view textures
    </RadzenText>
    return;
}

<RadzenDataGrid @ref="_table" TItem="IBSPTexture"
                Data="_data"
                PagerPosition="PagerPosition.TopAndBottom"
                AllowPaging="true"
                AllowSorting="true"
                AllowFiltering="true"
                AllowColumnPicking="true"
                AllowColumnResize="true">
    <Columns>
        <RadzenDataGridColumn TItem="IBSPTexture" Visible="false" Title="#" Sortable="false" Filterable="false">
            <Template>
                @(_data!.IndexOf(context))
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="IBSPTexture" Title="Name" Property="@nameof(IBSPTexture.Name)" />
        <RadzenDataGridColumn TItem="IBSPTexture" Title="Texture" Sortable="false" Filterable="false" Property="@nameof(IBSPTexture.Data)">
            <Template>
                <BSPTexture Texture="context" Palette="_palette" Style="width:128px;height:128px" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="IBSPTexture" Visible="false" Title="Fullbrights" Sortable="false" Filterable="false">
            <Template>
                <BSPTexture Texture="context" Palette="_palette" OnlyShowFullbright="true" Style="width:128px;height:128px" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="IBSPTexture" Visible="false" Title="Mipmaps" Sortable="false" Filterable="false">
            <Template>
                <BSPTexture Texture="context" Palette="_palette" View="BSPTexture.TextureView.AllMipmaps" Style="width:128px;height:128px" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="IBSPTexture" Visible="false" Title="Mipmaps Fullbrights" Sortable="false" Filterable="false">
            <Template>
                <BSPTexture Texture="context" Palette="_palette" View="BSPTexture.TextureView.AllMipmaps" OnlyShowFullbright="true" Style="width:128px;height:128px" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="IBSPTexture" Title="Actions" Sortable="false" Filterable="false">
            <Template>
                <RadzenButton Text="Edit" ButtonStyle="ButtonStyle.Secondary" Click="() => EditTextureAsync(context)" />
            </Template>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>

@code {
    [Parameter] public IBSPFileTextures BSP { get; set; } = null!;

    private RadzenDataGrid<IBSPTexture>? _table;
    private ColorPalette? _palette;
    private List<IBSPTexture>? _data;

    protected override void OnParametersSet()
    {
        _data = BSP?.Textures;
    }

    private async Task EditTextureAsync(IBSPTexture texture)
    {
        if (_palette is null)
            throw new InvalidOperationException("Cannot edit a texture without a palette");

        var result = await TextureEdit.OpenAsync(DialogService, texture, _palette);
        if (result is not null)
            await _table!.UpdateRow(texture);
    }
}
