@using QEBSPEditor.Models
@using QEBSPEditor.Models.BSPFiles
@using Tewr.Blazor.FileReader
@inject DialogService DialogService
@inject IFileReaderService FileReaderService

<PromptDialogs @ref="_dialogs" />

<div>
    <FileInputBox FileLoad="LoadAsync" class="w-100">
        Click or drag a BSP file to load it
    </FileInputBox>
</div>


@code {
    private PromptDialogs _dialogs = null!;

    private async Task LoadAsync(FileInput.FileLoadEventArgs args)
    {
        IBSPFile bsp;
        try
        {
            bsp = BSPFiles.Load(args.Stream);
        }
        catch (InvalidDataException ex)
        {
            await _dialogs.FailureAsync($"Failed to load: {ex.Message}");
            return;
        }
        catch (Exception ex)
        {
            await _dialogs.FailureAsync($"Failed to load: {ex}");
            return;
        }

        bsp.Name = args.Info.Name;
        DialogService.Close(bsp);
    }

    public static async Task<IBSPFile> OpenAsync(DialogService dialogService)
    {
        return (IBSPFile)await dialogService.OpenAsync<BSPLoadDialog>("Open bsp", new() { }, new() { CloseDialogOnEsc = true, ShowClose = true });
    }
}