@using QEBSPEditor.Models
@using QEBSPEditor.Models.BSPFiles
@using Tewr.Blazor.FileReader
@inject DialogService DialogService
@inject IFileReaderService FileReaderService

<div>
    <FileInput FileLoad="Load" />

    @if (!string.IsNullOrEmpty(_error))
    {
        <div class="text-danger">
            @_error
        </div>
    }
</div>


@code {
    private string? _error;

    private void Load(FileInput.FileLoadEventArgs args)
    {
        IBSPFile bsp;
        try
        {
            bsp = BSPFiles.Load(args.Stream);
        }
        catch (InvalidDataException ex)
        {
            _error = $"Failed to load: {ex.Message}";
            return;
        }
        catch (Exception ex)
        {
            _error = $"Failed to load: {ex}";
            return;
        }

        bsp.Name = args.Info.Name;
        DialogService.Close(bsp);
    }

    public static async Task<IBSPFile> OpenAsync(DialogService dialogService)
    {
        return (IBSPFile)await dialogService.OpenAsync<BSPLoadDialog>("Open bsp", new() { }, new() { CloseDialogOnEsc = true, ShowClose = true });
    }
}